/*SASS*/
/*@import*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*esto es para tener una unidad de medida de 10 px en ves de 16px a partir de ahora, siempre usamos rem mejoramos proporcionalmente la unidad de letra*/
html {
  font-size: 62.5%; /* 1 rem= 10px */
}

.fondo {
  background-color: black;
  font-family: gotham;
  src: url(font/GOTHAM-MEDIUM.TTF);
  color: white;
  font-display: swap;
}

/* Titulo General de cada Seccion */
.TITLE1 {
  font-size: 70px;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.TITLE2 {
  font-size: 70px;
  padding: 30px;
  color: #019FC6;
  display: flex;
  justify-content: left;
}

.bienvenida {
  font-size: 30px;
  color: #019FC6;
}

.lineas-azules {
  width: 80%;
  height: auto;
  display: flex;
  margin-left: 15%;
}

.letra-nav {
  font-size: 18px;
  margin-right: 2rem;
}

.navbar-brande {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 18px;
  text-decoration: none;
  white-space: nowrap;
  color: black;
}

/*mobile*/
@media only screen and (max-width: 450px) {
  .grid-conteiner {
    display: grid;
    grid-template-columns: 400px;
    grid-auto-rows: 200px;
  }
  .TITLE1 {
    font-size: 16px;
    margin-top: 40px;
  }
  .bienvenida {
    font-size: 12px;
  }
  .TITLE2 {
    padding: 50px;
    font-size: 20px;
  }
  .lineas-azules {
    display: none;
  }
  .h3-mapa {
    font-size: 16px;
  }
  .info-contacto {
    font-size: 10px;
  }
  .text-clientes {
    font-size: 5px;
    margin: 2%;
  }
  .logo-footer {
    display: none;
    align-items: center;
    justify-content: center;
  }
  .ul-footer {
    font-size: 10px;
    align-items: center;
    justify-content: center;
  }
}
/*tablet*/
@media only screen and (min-width: 450px) and (max-width: 960px) {
  .grid-conteiner {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-auto-rows: 200px;
  }
  .lineas-azules {
    display: none;
  }
  .TITLE1 {
    font-size: 25px;
    margin-top: 40px;
  }
  .bienvenida {
    font-size: 20px;
  }
  .TITLE2 {
    padding: 30px;
    font-size: 25px;
    color: #019FC6;
    display: flex;
    justify-content: left;
  }
  .logo-footer {
    display: none;
    align-items: center;
    justify-content: center;
  }
  .ul-footer {
    font-size: 10px;
    align-items: center;
    justify-content: center;
  }
  .info-contacto {
    font-size: 20px;
  }
  .text-clientes {
    font-size: 5px;
    margin: 2%;
  }
}
.footer-container {
  background-color: black;
  height: 30px;
  justify-content: space-evenly;
  padding: 40px;
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin: 20px auto;
}
.footer-container div a {
  width: 100%;
  height: 30px;
  display: flex;
}
.footer-container div nav ul {
  list-style: none;
  display: flex;
  align-items: right;
}
.footer-container div nav ul li a {
  font-size: 15px;
  display: flex;
  text-decoration: none;
  list-style: none;
  margin-inline: 20PX;
  color: white;
  align-items: right;
}

.holis {
  color: red;
}

/* mobile 
@media only screen and (max-width:450px){
    .bienvenida{      
            font-size: 10px;  
        } 
        .TITLE1{ 
            font-size: 12px;
    }
    }

    tablet
    @media only screen and (min-width:450px) and  (max-width:960px){ 
        .bienvenida{ 
        font-size: 8px; 
        }
        .TITLE1{ 
            font-size: 10px;
    }
    }
    */
/* Seccion Productos */
.section-productos {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
  padding: 10px 0px;
  padding-top: 70px;
}

/* GRID */
.grid-conteiner {
  display: grid;
  margin: 20px;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 200px 200px 200px;
  column-gap: 30px;
  row-gap: 30px;
}
.grid-conteiner .grid-item {
  border: solid 2px;
  color: #019FC6;
  font-size: 16px;
  font-family: gotham;
  display: flex;
  margin-top: 30px;
}
.grid-conteiner .grid-item .imagenes-productos {
  display: flex;
  justify-content: left;
  padding: 20px;
  background-color: black;
}
.grid-conteiner .grid-item .texto-productos {
  font-size: 16px;
  font-family: gotham;
  color: white;
}

/* mobile */
@media only screen and (max-width: 450px) {
  .bienvenida {
    font-size: 10px;
  }
  .TITLE1 {
    font-size: 12px;
  }
}
/*tablet*/
@media only screen and (min-width: 450px) and (max-width: 960px) {
  bienvenida {
    font-size: 8px;
  }
  .TITLE34s {
    font-size: 100px;
  }
}
/* Seccion Servicios */
.section-servicios {
  width: 100%;
  height: auto;
  display: flex;
  padding-bottom: 10px;
  padding-top: 80px;
}

.titulo-video {
  color: #019FC6;
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  font-size: 20px;
}

.video-youtube {
  display: flex;
  margin: auto;
}

.borde-ser {
  border: 1px red;
  color: white;
  font-size: 16px;
  border-color: #019FC6;
  padding: 20px;
}

/* Seccion Clientes */
.section-clientes {
  width: 100%;
  height: auto;
  justify-content: left;
  padding-top: 70px;
  display: flex;
}

.carousel-inner img {
  width: auto;
  max-height: 400px;
}

.carousel-inner {
  height: 400px;
}

.text-clientes {
  font-size: 16px;
  margin: 2%;
}

/* Seccion Contactos */
.section-contacto {
  width: 100%;
  margin: 20px auto;
  display: flex;
}
.section-contacto .image-contacto {
  width: 75%;
  height: auto;
  margin: 0 auto;
  display: flex;
}

.h3-mapa {
  color: #019FC6;
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  font-size: 20px;
}

.ubicacion {
  display: flex;
  margin: auto;
  padding: 20px 20px;
}

.btn_contacto {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  margin: 15px 0;
  display: inline-block;
  border-radius: 5px;
  background-color: #019FC6;
  color: #ffffff;
  border: solid 1px #ffffff;
  font-size: 1.15em;
  font-weight: 600;
  padding: 5px 10px;
}

.info-contacto {
  font-size: 20px;
  padding: 20px;
}

/*
.header-background{
    background-color: nth($colores ,3);
    font-size: nth($font-size, 2);
}
*/

/*# sourceMappingURL=style.css.map */
