/* Seccion Contactos */

.section-contacto{
    width: 100%;
    margin: 20px auto;
    display: flex;
    .image-contacto{
                    width: 75%;
                    height: auto;
                    margin: 0 auto;
                    display: flex;
                    }

}