.footer-container{
    background-color: black;
    height: 30px;
    justify-content: space-evenly;
    padding: 40px;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 20px auto;
    div{

        a{width: 100%;
            height: 30px;
            display: flex; 

        }
    }
    div{
        nav{
            ul{
            list-style: none;
            display: flex;
            align-items: right;
                li{
                    a{
                    font-size: 15px;
                    display: flex;
                    text-decoration: none;
                    list-style: none;
                    margin-inline: 20PX;
                    color: white;
                    align-items: right;
                    }
                } 
            }
        }    
    }
}
