.holis{
    color: red;

}



/* mobile 
@media only screen and (max-width:450px){
    .bienvenida{      
            font-size: 10px;  
        } 
        .TITLE1{ 
            font-size: 12px;
    }
    }
    
    tablet
    @media only screen and (min-width:450px) and  (max-width:960px){ 
        .bienvenida{ 
        font-size: 8px; 
        }
        .TITLE1{ 
            font-size: 10px;
    }
    }
    */