
/* Seccion Servicios */

 .section-servicios{
    width: 100%;
    height: auto;
    display: flex;
    padding-bottom: 10px;
    padding-top: 80px;
 }

.titulo-video{
    color: #019FC6;
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    font-size: 20px;
}
.video-youtube{
    display: flex;
    margin:auto;
}

.borde-ser{
    border: 1px red;
    color: white;
    font-size: 16px;
    border-color: #019FC6;
    padding: 20px;
}